@font-face{
    font-family: 'nothing_font_2';
    src: url('/Users/hyeontaelee/Desktop/web/introduce/fonts/ndot_47.woff') format('woff');
}
*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

ul, li{
    list-style: none;
}

/** 상단 메뉴 바 **/

body{
    font-family: 'nothing_font_2';
    color: white;
    height: 100%;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: white;
    background-color: rgb(0,0,0,0.5);

}
.navbar{ /*navbar 스타일 시트*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 5px solid;
    border-color: white;
}

.navbar__logo{
    font-size: 30px;
    color: white;
}
.navbar__logo:hover{
    background-color: grey;
}
.navbar__logo > a:hover{
    background-color: grey;
}
.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li{
    padding: 8px 12px;
    font-size: 13px;
}
.navbar__menu li a{
    padding: 8px 12px;
}
.navbar__menu li:hover{
    background-color: grey;
}


button.transparent-button{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    
}

.container{
    width: 100%;
    background-color: black;
    padding: 20px 0;
}

article.card{
    width: 600px;
    margin : 20px auto;
    margin-bottom: 60px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

/** hedaer 시작***/

article.card header{
    height: 40px;
    padding : 10px;
}

article.card header > div{
    display: inline-block;
    vertical-align: middle;
}

.circle-image{
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.circle-image > img{
    height: 100%;
    border-radius: 50%;
}

.card-username{
    padding: 10px 0;
    font-weight: 900;
    line-height: 20px;
    margin-left: 5px;
    font-size: 13px;
}




/*** header종료***/

/*** contents 시작 ***/
.card-container{
    padding: 5px 10px;
}

/** 버튼들 **/
.card-buttons{
    padding: 0 5px;
    margin-top: 5px;
    color: white;
}

.card-buttons > div{
    display: inline-block;
    margin-right: 10px;
}

.card-buttons > div.last-card-button{
    float: right;
    margin-right: 0;
}

/*좋아용*/
.card-like{
    padding: 5px;
    font-size: 13px;
    font-weight: 900;
}

/* 본문 */
.card-content{
    padding: 2px 5px;
    font-size: 13px;
}

.card-content li > div{
    padding: 1px 0;

}

.card-content li > div > span{
    font-weight: 900;
}

.card-content li.comment > div > button{
    float: right;
}

.card-content li.comment > div > button > img{
    width: 12px;
    margin-right: 5px;
}

/* 시간 */

.card-time{
    padding: 3px;
    font-size: 11px;
    color: #a0a0a0;
}

/* footer */

footer.card-comment{
    position: relative;
    height: 55px;
    border-top: 1px solid #e0e0e0;
}

footer.card-comment input {
    width: 100%;
    height: 100%;
    border : 0;
    outline : 0;
    /*padding: 0 15px; > 요거때문에 댓글달기 이상해짐*/
    color: #606060;
}

footer.card-comment > div{
    position: absolute;
    right: 10px;
    top: 30px;
    transform: translateY(-50%);
}

footer.card-comment > div > button{
    color: #0095f6;
    opacity: 0.5;
    padding: 10px 5px;
}

/* 케러셀 */
article.card main .carousel{
    width: 100%;
    position: relative;
}

article.card main .carousel > div{
    overflow: hidden;
}

article.card main .carousel ul {
    width : 10000px;
}

article.card main .carousel ul  li {
    display: inline-block;
}

article.card main .carousel ul li img{
    width: 600px;
    height: 600px;
    /* object-fit: cover; */
}


.slide{
    position: absolute;
    top: auto;
    transform: translateY(-700%);
    margin: 10px;
    background-color: rgb(255,255,255,0);
}

.slide img{
    opacity: 0.75;
    border-radius: 50%;
}

.slide-right{
    transform: translateX(545px) translateY(-700%);
}

.carousel footer{
    position: absolute;
    height: 20px;
    text-align: center;
    width: 36em;
    
}

.carousel footer div{
    width: 6px;
    height: 6px;
    background-color: #a8a8a8;
    display: inline-block;
    border-radius: 50%;
    transform: translateX(100%);
}

.carousel footer div.active{
    background-color: #0095f6;
}

.hidden{
    display: none;
}


#logout-button{
    width: 70px;
    height: 50px;
    color: white;
    margin-left: 21px;
}

.login-div{
    display: flex;
}

#clock{
    color: green;
}

#quote{
    color:white;
    border: 1px solid red;
}